# Dependencies
node_modules/

# Build output
dist/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
bun.lockb

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# Cache
.cache/
.parcel-cache/
